$theme1_bg1: #00bcd4; /* .header */
$theme1_bg2: darken( $theme1_bg1, 8% ); /* .header .intro */
$theme1_bg3: darken( $theme1_bg1, 15% ); /* .header .contact-info */
$theme1_bg4: darken( $theme1_bg1, 25% ); /* .page-nav-wrapper */

/* styles-2 */
$theme2_bg1: #10a7ea; /* .header */ 
$theme2_bg2: darken( $theme2_bg1, 8% ); /* .header .intro */
$theme2_bg3: darken( $theme2_bg1, 15% ); /* .header .contact-info */
$theme2_bg4: darken( $theme2_bg1, 25% ); /* .page-nav-wrapper */

/* styles-3 */
$theme3_bg1: #009688; /* .header */ 
$theme3_bg2: darken( $theme3_bg1, 8% ); /* .header .intro */
$theme3_bg3: darken( $theme3_bg1, 15% ); /* .header .contact-info */
$theme3_bg4: darken( $theme3_bg1, 25% ); /* .page-nav-wrapper */

/* styles-4 */
$theme4_bg1: #4CAF50; /* .header */
$theme4_bg2: darken( $theme4_bg1, 8% ); /* .header .intro */
$theme4_bg3: darken( $theme4_bg1, 15% ); /* .header .contact-info */
$theme4_bg4: darken( $theme4_bg1, 25% ); /* .page-nav-wrapper */

/* styles-5 */
$theme5_bg1: #8BC34A; /* .header */
$theme5_bg2: darken( $theme5_bg1, 8% ); /* .header .intro */
$theme5_bg3: darken( $theme5_bg1, 15% ); /* .header .contact-info */
$theme5_bg4: darken( $theme5_bg1, 25% ); /* .page-nav-wrapper */

/* styles-6 */
$theme6_bg1: #C0CA33; /* .header */
$theme6_bg2: darken( $theme6_bg1, 8% ); /* .header .intro */
$theme6_bg3: darken( $theme6_bg1, 15% ); /* .header .contact-info */
$theme6_bg4: darken( $theme6_bg1, 25% ); /* .page-nav-wrapper */

/* styles-7 */
$theme7_bg1: #FFC107; /* .header */
$theme7_bg2: darken( $theme7_bg1, 8% ); /* .header .intro */
$theme7_bg3: darken( $theme7_bg1, 15% ); /* .header .contact-info */
$theme7_bg4: darken( $theme7_bg1, 25% ); /* .page-nav-wrapper */

/* styles-8 */
$theme8_bg1: #FF9800; /* .header */
$theme8_bg2: darken( $theme8_bg1, 8% ); /* .header .intro */
$theme8_bg3: darken( $theme8_bg1, 15% ); /* .header .contact-info */
$theme8_bg4: darken( $theme8_bg1, 25% ); /* .page-nav-wrapper */

/* styles-9 */
$theme9_bg1: #FF5722; /* .header */
$theme9_bg2: darken( $theme9_bg1, 8% ); /* .header .intro */
$theme9_bg3: darken( $theme9_bg1, 15% ); /* .header .contact-info */
$theme9_bg4: darken( $theme9_bg1, 25% ); /* .page-nav-wrapper */

/* styles-10 */
$theme10_bg1: #795548; /* .header */
$theme10_bg2: darken( $theme10_bg1, 8% ); /* .header .intro */
$theme10_bg3: darken( $theme10_bg1, 15% ); /* .header .contact-info */
$theme10_bg4: darken( $theme10_bg1, 25% ); /* .page-nav-wrapper */

/* styles-11 */
$theme11_bg1: #607D8B; /* .header */
$theme11_bg2: darken( $theme11_bg1, 8% ); /* .header .intro */
$theme11_bg3: darken( $theme11_bg1, 15% ); /* .header .contact-info */
$theme11_bg4: darken( $theme11_bg1, 25% ); /* .page-nav-wrapper */

/* styles-12 */
$theme12_bg1: #673AB7; /* .header */
$theme12_bg2: darken( $theme12_bg1, 8% ); /* .header .intro */
$theme12_bg3: darken( $theme12_bg1, 15% ); /* .header .contact-info */
$theme12_bg4: darken( $theme12_bg1, 25% ); /* .page-nav-wrapper */

/* styles-13 */
$theme13_bg1: #3F51B5; /* .header */
$theme13_bg2: darken( $theme13_bg1, 8% ); /* .header .intro */
$theme13_bg3: darken( $theme13_bg1, 15% ); /* .header .contact-info */
$theme13_bg4: darken( $theme13_bg1, 25% ); /* .page-nav-wrapper */

/* styles-14 */
$theme14_bg1: #2196F3; /* .header */
$theme14_bg2: darken( $theme14_bg1, 8% ); /* .header .intro */
$theme14_bg3: darken( $theme14_bg1, 15% ); /* .header .contact-info */
$theme14_bg4: darken( $theme14_bg1, 25% ); /* .page-nav-wrapper */

/* styles-15 */
$theme15_bg1: #9C27B0; /* .header */
$theme15_bg2: darken( $theme15_bg1, 8% ); /* .header .intro */
$theme15_bg3: darken( $theme15_bg1, 15% ); /* .header .contact-info */
$theme15_bg4: darken( $theme15_bg1, 25% ); /* .page-nav-wrapper */

/* styles-16 */
$theme16_bg1: #E91E63; /* .header */
$theme16_bg2: darken( $theme16_bg1, 8% ); /* .header .intro */
$theme16_bg3: darken( $theme16_bg1, 15% ); /* .header .contact-info */
$theme16_bg4: darken( $theme16_bg1, 25% ); /* .page-nav-wrapper */